@(message: String)


<p>@message</p>


    <p><a href="@controllers.routes.CategoryController.categories">Categories</a></p>
    <p><a href="@controllers.routes.SubcategoryController.subcategories">Subcategories</a></p>
    <p><a href="@controllers.routes.ProductController.products">Products</a></p>
    <p><a href="@controllers.routes.ReviewController.allReviews">Reviews</a></p>
    <p><a href="@controllers.routes.WishlistController.allWishes">Wishlist - admin</a></p>
    <p><a href="@controllers.routes.BasketController.allBaskets">Basket - admin</a></p>
    <p><a href="@controllers.routes.OrderController.allOrders">Orders - admin</a></p>
    <p><a href="@controllers.routes.OrderProdController.allOrderedProducts">Ordered Products - admin</a></p>
    <p><a href="@controllers.routes.OrderAdController.allAddresses">Addresses - admin</a></p>
    <p><a href="@controllers.routes.PaymentController.allPayments">Payments - admin</a></p>