@(product: Product)

<p><strong>@product.name</strong></p>
<p>@product.price $</p>
<p>@product.description</p>


<p><a href="@controllers.routes.ReviewController.reviews(product.id)">Reviews</a></p>
<p><a href="@controllers.routes.ReviewController.addReviewMenu(product.id)">Add Review</a></p>

<p><a href="@controllers.routes.BasketController.addToBasketMenu(product.id)">Add to Basket</a></p>
<p><a href="@controllers.routes.WishlistController.addToWishlistMenu(product.id)">Add to Wishlist</a></p>