@(wishlists: Seq[Wishlist],products: Seq[Product], userId: String, updateWishForm: Form[UpdateWishForm])(implicit request: MessagesRequestHeader)

@import helper._

<p>Wishlist for user @userId</p>

@for(wishlist <- wishlists) {
        @if(products.exists(_.id == wishlist.product)){
            @products.find(_.id == wishlist.product).get.name;
        }else {
            Error: Product with id @wishlist.product doesn't exist.
        }
    @form(routes.WishlistController.updateWishlist()) {
        @helper.CSRF.formField
        <input name="id" id="id" value="@wishlist.id" type="hidden" />
        <input name="user" id="user" value="@userId" type="hidden" />
        Quantity:<input type="number" id="quantity" name="quantity" min="1" max="5" value="@wishlist.quantity">
        <input name="product" id="product" value="@wishlist.product" type="hidden" />
        <input type="submit" value="Update"/>
    }
        <a href="@controllers.routes.WishlistController.removeFromWishlist(wishlist.id)">Delete</a></p>
}